@charset "UTF-8";
/* CSS Document */

/*== Color A ==*/
a,h1, h2, h3, h4, h5, h6,
.tag-line-box .tag-line h2,
.flx-service-3 li span,
.flx-service-3 li .entry-content .entry-title a,
.team-area ul li article header a,
.service-widget ul li h2 a,
.pagination ul.page-numbers li a, 
.pagination ul.page-numbers li span,
.entry-box .entry-title,
.entry-box ul li i,
#comments-form label.required span,
#toggle-view li h5:hover,
.view .mask ul li.pf-footer h5,
.pf-detail-item .pf-detail-meta li i,
.error-404-right ul li i,
#contact-form label.required span,
.flex-control-paging li a.flex-active,
#sidebar a:hover,
.product-widget .product-list li .price-box .product-price,
.flx-slides-4 li .product-item footer .price-box .discount-price,
.tp-caption .shop-btn,
.flx-product .entry-summary .price-box .discount-price,
.product-description li .price-box .product-price,
.woocommerce .product-name a,
.woocommerce .total td,
.price-choice-widget #amount,
.flx-service-3 li span,
.flx-service-4 li span,
.flx-service-4 li:hover span i,
.flx-service-3 li .entry-content .entry-title a, 
.flx-service-4 li .entry-content .entry-title a {
	color:#89b424;
}

/*== Color B ==*/
a:hover,
.flx-service-3 li:hover span,
.flx-service-3 li:hover .entry-content .entry-title a,
.team-area ul li article header a:hover,
.team-area ul li article header span,
.accordion-title a:hover,
.countdown .clock li,
.post-item header .entry-author a:hover, 
.post-item header .entry-categories a:hover, 
.post-item header .entry-comment a:hover,
.comment-pagination .current,
.entry-box footer a.post,
.accordion-title.active a,
.accordion-title.active:hover a,
.flx-service-3 li span:hover,
.flx-service-4 li span:hover,
.flx-service-3 li .entry-content .entry-title a:hover, 
.flx-service-4 li .entry-content .entry-title a:hover {
	color:#15a2ed;
}

/*== Background A ==*/
*::-moz-selection,
::-moz-selection,
.post-item .outside-date,
#main-menu > li:hover a,
#main-menu > li > a:hover,
#main-menu > li.current-menu-item > a,
#main-menu li ul li ul,
#main-menu li ul,
#main-menu li ul li ul li:hover a,
#main-menu li ul li ul li.current-menu-item a,
.portfolio-widget .view-more,
.recent-widget .view-more,
#back-top a,
.carousel-slider .flex-direction-nav .flex-next, .carousel-slider .flex-direction-nav .flex-prev, .service-slider .flex-direction-nav .flex-next, .service-slider .flex-direction-nav .flex-prev, .blog-post-slider .flex-direction-nav .flex-next, .blog-post-slider .flex-direction-nav .flex-prev, .pf-list-flex .flex-direction-nav .flex-next, .pf-list-flex .flex-direction-nav .flex-prev, .home-page-3-slider .flex-direction-nav .flex-next, .home-page-3-slider .flex-direction-nav .flex-prev,
.view .mask ul li,
.bottom-tag-line,
.ei-title h2,
.widget_search #searchform #searchsubmit,
#sidebar .widget .list-container-1 ul li.active a, 
#sidebar .widget .list-container-1 ul li:hover a,
.my-head .hello p,
.service-slider .flex-caption h3,
.service-widget ul li:hover,
.pagination ul.page-numbers li span.current, 
.pagination ul.page-numbers li:hover a,
.comment-wrap .comment-body .comment-reply-link, 
.comment-wrap .comment-body .comment-edit-link,
.entry-box .widget_tag_cloud .tagcloud a:hover,
.flx-dropcap.flx-color,
.flx-dropcap.flx-cricle,
.pricing-special .pricing-title,
.list-container-1 ul li.active a,
.list-container-1 ul li:hover a,
#toggle-view li:hover span,
.cd-dropdown > span,
.cd-dropdown ul li span,
.newsletter-form .submit,
.flex-control-paging li a.flex-active,
.dl-menuwrapper button,
.shopping-cart-btn,
.woocommerce .table thead th,
.cart_totals h6,
.product-description li .price-box .add-btn,
.woocommerce .coupon .apply-coupon, .woocommerce .update-shipping ,
.product-widget .product-list li .price-box .add-btn,
#slider-range .ui-widget-header,
#slider-range .ui-state-default,
.size-choice-widget ul li:hover a, 
.size-choice-widget ul li.active a,
#sidebar .widget_categories ul li:hover span,
.tp-leftarrow.default,
.tp-caption.bg_orange,
.woocommerce .update-cart input,
.woocommerce .coupon .apply-coupon,
.woocommerce .update-shipping,
.product-detail a.add-cart-btn,
.flx-service-4 li span i,
.icon-button,
.tp-rightarrow.default,
.flx-service-4 li span i,
.flex-control-paging li a:hover,
#sidebar .price-choice-widget a.orange,
.woocommerce .update-cart input, .woocommerce .coupon .apply-coupon, .woocommerce .update-shipping {
	background-color:#89b424;
}
/*== Background A2 ==*/
#main-menu li ul li:hover a,
#main-menu li ul li.current-menu-item a ,
.view .mask ul li:hover,
.ei-slider-thumbs li.ei-slider-element,
.cd-active.cd-dropdown ul li span:hover,
.newsletter-form .submit:hover,
.dl-menuwrapper button:hover, 
.dl-menuwrapper button.dl-active, .dl-menuwrapper ul,
.product-description li .price-box .add-btn:hover,
.woocommerce .coupon .apply-coupon:hover, .woocommerce .update-shipping:hover,
.product-widget .product-list li .price-box .add-btn:hover,
.shopping-cart-btn:hover  {
	background-color:#779f18;
	}

/*== Background B ==*/
.view-more:hover,
.widget_search #searchform #searchsubmit:hover,
.progress-bar.green > span,
.acc-wrapper.flat .accordion-title.active, 
.acc-wrapper.flat .accordion-title.active:hover,
.acc-wrapper.flat .accordion-title:hover .plus-icon,
.acc-wrapper.flat .accordion-title.active .plus-icon,
#sidebar .widget_tag_cloud .tagcloud a:hover,
.comment-wrap .comment-body .comment-reply-link:hover,
.comment-wrap .comment-body .comment-edit-link:hover,
.accordion-title.active .plus-icon,
.accordion-title:hover .plus-icon,
.tp-leftarrow.default:hover,
.woocommerce .update-cart input:hover,
.woocommerce .coupon .apply-coupon:hover,
.woocommerce .update-shipping:hover,
.product-detail a.add-cart-btn:hover,
.icon-button:hover,
#sidebar .price-choice-widget a.orange:hover {
	background-color:#15a2ed;
}

/*== Border A ==*/
#main-menu li ul li,
.view .mask ul li,
.woocommerce .table thead th,
.size-choice-widget ul li:hover,
.size-choice-widget ul li.active,
.flx-service-4 li:hover span i {
	border-color:#a0c940 ;
}	
.testimonial-slider .slides a.testimonial-avatar,
#contact_name:focus, 
#contact_email:focus, 
#contact_url:focus, 
#contact_message:focus,
.widget_search #searchform #s:focus,
#comment_name:focus, 
#comment_email:focus, 
#comment_url:focus, 
#comment_message:focus,
.newsletter-form .email:focus,
#sidebar .widget.color-choice-widget ul li:hover, 
#sidebar .widget.color-choice-widget ul li.active,
.tp-caption .shop-btn {
	border-color:#89b424;
}
#sidebar .widget.color-choice-widget ul li:hover, #sidebar .widget.color-choice-widget ul li.active {
	border-color:#89b424 !important;
}
/*== Border B ==*/
.accordion-title.active,
.accordion-title.active:hover {
	border-color:#15a2ed;
}	
